*{
    letter-spacing: 1.2px;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(to bottom right, rgba(9, 9, 200, 0.801), rgba(3, 97, 248, 0.938),rgba(5, 131, 170, 0.801));
}
.Visual{
    border: solid black 1px;
}
.Centrado{
    margin-top: auto;
    margin-bottom: auto;
}
.horizontal{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.header{
    text-align: center;
    font-size: large;
    padding: 40vh 0px;
}
.Type_Js{
    color: rgba(255, 255, 255, 0.781);
    font-weight: 1200;
    font-size: 37px;
    letter-spacing: 7px;
}
.Type_Js>h1{
    color: black;
}

h2{
    text-align: center;
    font-weight: 900;
}
.container{
    margin: 25px 0px;
}
.description{
    font-size: larger;
    line-height: 1.565;
    font-weight: 400;
    
}
.description2{
    text-align: justify;
    width: 38vw;
}
.sombreado{
    border: 1px solid rgba(0, 0, 0, 0.082);
    padding: 20px;
    border-radius: 2%;
    box-shadow: 5px 10px 4px rgba(6, 185, 255, 0.1);
}
.Convert,.Speed{
    padding: 5px;
    margin: 14vh 0px;
    display: flex;
    justify-content: space-around;
}
table{
    margin-top: 18.57px;
}
td{
    margin-right: 10px;
    padding: 10px;
    transition: all 1s;
}
td:hover{
    padding: 40px;
    margin: 10px;   
    background-color: rgb(253, 104, 5,1);
}
img{
    max-width: 34vw;
}
.random_thinks{
    padding: 10vh 0;
    text-align: center;
    display: block;
}
.ultimate{
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
}



/*
    boton de css que tome de internet.


a.boton{
	position: relative;
	display: block;
	padding: 25px 10px;
	border-radius: 6px;
	text-align: center;
	font-weight: bold;
	max-width: 320px;
	height: 65px;
	margin-bottom: 60px;
	overflow: hidden;
	color:rgba(255,255,255,1);
	cursor: pointer;
	letter-spacing: 2px;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: all ease 0.5s;
	background:#10B87B;
}

a.boton:after,
a.boton:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}

a.boton:before{
	left: -48%;
}

a.boton:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#12C987
}

a.boton:hover:after,
a.boton:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.5s;
}

a.boton:hover:after{
	right: 130%;
}

a.boton:hover:before{
	left: 130%;
}

*/